.darkBG,
.lightBG {
  width: 100vw;
}
.darkBG {
  background: url(tes.jpg);
  background-size: 800% 800%;
  

  -o-webkit-animation: darkGradient 11s ease infinite;
  -o-moz-animation: darkGradient 11s ease infinite;
  animation: darkGradient 11s ease infinite;
}
.lightBG {
  background: url(tes.jpg);
  background-size: 600% 600%;


  -o-webkit-animation: lightGradient 8s ease infinite;
  -o-moz-animation: lightGradient 8s ease infinite;
  animation: lightGradient 8s ease infinite;
}
