.darkBG,
.lightBG {
  width: 100vw;
}
.darkBG {
  background: url(tes.jpg) no-repeat center center fixed;;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}
.lightBG {
  background: url(tes.jpg) no-repeat center center fixed;;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
